{% extends 'app/main.html' %}


{% block content %}
    <h1>Home</h1>
    <p>About me section placeholder</p>
    <hr/>
    <p>Cia yra main contenet. <br/>

        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Donec hendrerit tempor tellus. Donec pretium posuere tellus.
        Proin quam nisl, tincidunt et, mattis eget, convallis nec,
        purus. Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Nulla posuere. Donec vitae
        dolor. Nullam tristique diam non turpis. Cras placerat
        accumsan nulla. Nullam rutrum. Nam vesibulum accumsan nisl.

</p>
{% endblock content %}
