{% extends 'app/main.html' %}

{% block content %}
<h1>Arvydas Gasparavicius kontaktai</h1>
<p>
  Parašykite man laišką ir aš Jums atsakysiu vienos arba dviejų dienų bėgyje.

  Darbo pasiūlymai – nedomina. Bet darbiniais reikalais visada galite pasiekti mane per Linkedin sistemą

  Ir nepamirškite mane sekti Twitter platformoje – joje beveik kasdien dalinuosi įdomiais IT atradimais.

  Skaitote knygas? Turiu Goodreads profilį – gal bus įdomu sužinoti ką esu perskaitęs ir labai rekomenduoju.
    </p>
{% endblock content %}
