{% load static %}

<div id="menu">
    <!-- <img alt="" src="{% static 'images/bjutiful.jpg' %}" width="300px" /> -->
    <ul>
        <li><a href="{% url 'home' %}">home</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/tags">tags</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="https://github.com/arvydasg" target="_blank">github</a></li>
        <li><a href="/admin" target="_blank">admin</a></li>
      </ul>
</div>
